.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  /* borrar despues de que este el form */
  margin-bottom: 100px; 
}

.container h3 {
  color: #1c1f35;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.container span {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-left: 5px solid #FFB629;
}

.container button {
  background-image: url("/news/button-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 190px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.container svg {
  max-width: 900px;
  padding-bottom: 24px;
}
@media(max-width: 768px){
  .container svg {
    max-width: 400px;
  }
}
