.container {
  background-image: url("/heart/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 500px;
  padding: 32px 0;
}

.container div {
  max-width: 950px;
  width: 100%;
}

.container h3 {
  font-size: 32px;
  margin: 0;
}

.container button {
  background-color: #40d2f9;
  color: black;
  font-weight: 700;
  font-size: 18px;
  width: 220px;
  border: none;
  height: 60px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    background-image: none;
    background-color: #1c1f35;
    height: 100%;
  }
  .container div {
    max-width: 300px;
  }
  .container h3 {
    font-size: 24px;
  }

  .container p {
    font-size: 14px;
  }

  .container button {
    width: 180px;
    height: 50px;
  }
}
