.container{
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  margin-left: 11%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  text-align: start;
  margin-top: 20px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between; 
}

.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 5px;
}

.formInputs1,
.formInputs2{
  margin-bottom: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fname{
  width: 300px;
  height: 35px;
}

.lname{
  width: 250px;
  height: 35px;

}

.email{
  width: 300px;
  height: 35px;
}

.phone{
  width: 250px;
  height: 35px;
}

.textarea{
  height: 200px;
}

.form button{
  color: white;
  background-color: #0A2A59;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
}

.button[id="submit"]:hover {
  background-color: #375485;
  color: white;
}

.imageWrapper {
  /* max-width: 30%;  */
  display: flex;

}